<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Equations</title>
<style>
</style>
</head>
<body>

{% extends 'base.html' %}

{% block content %}

    {% for message in get_flashed_messages() %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

    {% endfor %}

    <h1>Your Equations</h1>
    <h2>Name: {{ user.first_name }} {{ user.last_name }}</h2>
    <h3>Equation: {{ equation }}</h3>
    <br>



{% endblock %}

</body>
</html>
