<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <style>
        h1 {
            text-align: center;
        }

        .iframe-parent{
            width: 100vw;
            height: 100vh;
        }

        /* Expand to the entire container */
        iframe{
            width: 50%;
            height: 50%;
        }
    </style>
</head>
<body>

{% extends 'base.html' %}

{% block content %}

    <h1>Welcome, {{user}}!</h1>

    <div class='iframe-parent'>
        <iframe src="https://www.desmos.com/calculator/bb7igdyblo"></iframe>
    </div>

{% endblock %}


</body>
</html>